@font-face {
    font-family: "Eagle-Lake";
    src: url("assets/fonts/EagleLake-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bottom: calc(-480px / 10);
}

body {
    font-family: "Eagle-Lake", Arial, Helvetica, sans-serif;
    background-clip: border-box;
}

#canvas {
    position: absolute;
    display: block;
    width: 720px;
    height: 480px;
    top: 0;
    margin: auto;
    z-index: 3;
    background-color: black;
    aspect-ratio: auto 720/480;
}

.canvas {
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: 2;
    width: 720px;
    height: 480px;
}

#background {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

#startScreen {
    z-index: 1;
    position: absolute;
    opacity: 0;
    inset: 0;
    margin: auto;
    z-index: 2;
    width: 720px;
    height: 480px;
    animation: fadeIn 1.5s 1s ease-in-out forwards;
}

#start_screen-background {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    -o-object-position: right;
    object-position: right;
}

.rotate-device {
    position: absolute;
    width: 100%;
    top: 0;
    margin: auto;
    background: linear-gradient(to top, #eb8c4d, #eedd44, #eb8c4d);
    bottom: 0;
    z-index: 10;
    color: green;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 0.9;
}

.rotate-img {
    width: 80px;
    height: 80px;
}

.rotate-text {
    font-size: 16px;
    text-align: center;
    width: 80%;
}

#game-over {
    position: absolute;
    inset: 0;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 46%;
    margin: auto;
    -webkit-text-fill-color: transparent;
    animation: fadeIn 1.5s ease-in-out forwards;
}

#winning-screen {
    position: absolute;
    inset: 0;
    bottom: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 46%;
    margin: auto;
    -webkit-text-fill-color: transparent;
    animation: zoomIn 1.5s ease-in-out forwards;
}

#win {
    height: 300px;
    transform: scale(0);
    animation: zoomIn 1.5s 2s ease-in-out forwards;
}

#lost {
    height: 300px;
    transform: scale(0);
    animation: zoomIn 1.5s 2s ease-in-out forwards;
}

.play {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    background: orange;
    width: 120px;
    gap: 8px;
    height: 40px;
}

.play:hover {
    background: red;
    cursor: pointer;
}

#play-btn {
    height: 80%;
}

.d-none {
    display: none;
}

h1 {
    position: absolute;
    opacity: 0;
    z-index: 1;
    top: 60px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 80px;
    background: black;
    background-clip: text;
    -webkit-background-clip: text;
    animation: fadeIn 1.5s ease-in-out forwards;
}

span {
    font-size: 60px;
    margin: 0;
}

.keys-controls_screen {
    display: flex;
    width: 720px;
    height: 76px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #994409;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.keys {
    display: flex;
    width: 720px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #994409;
    position: absolute;
    bottom: var(--bottom);
    left: 0;
    top: 480px;
    z-index: 3;
}

.settings {
    position: absolute;
    z-index: 4;
    top: 20px;
    right: 10px;
    height: 40px;
    width: 40px;
}

.settings-mobile {
    display: none;
    position: absolute;
    z-index: 4;
    top: 12px;
    right: 10px;
    height: 40px;
    width: 40px;
}

.settings:hover {
    cursor: pointer;
}

.keys>div>img,
.keys-controls_screen>img {
    width: 24px;
    height: 24px;
}

.keys>div,
.keys-controls_screen>div {
    display: flex;
    align-items: center;
}

#left-hand {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 16px;
    margin-left: 16px;
}

#right-hand {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 16px;
    margin-right: 16px;
}

.mobile {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    width: 100%;
    display: none;
    align-items: center;
    z-index: 3;
    justify-content: space-between;
}

.mobile-btn {
    background: linear-gradient(to top, #6fc48a, #eec644, #4debdb);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid #e66c1a;
}

.mobile-btn>img {
    height: 30px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.8);
}

.menu {
    display: flex;
    padding: 2rem;
    height: 100%;
    justify-content: center;
    gap: 12rem;
}

.menu-btn {
    border-radius: 40px;
}

.menu>#full_screen-btn {
    padding: 0;
}

.throw {
    color: black;
    font-size: 32px;
}

#restart {
    position: absolute;
    bottom: 55px;
    right: 0;
    opacity: 0;
    left: 0;
    font-size: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-radius: 12px;
    border: 2px solid black;
    height: 15%;
    margin: auto;
    background: linear-gradient(to top, #94eb4d, #44eeb0, #4dabeb);
    animation: fadeIn 1.5s 1s ease-in-out forwards;
}

#restart:hover {
    background: linear-gradient(to top, #6fc48a, #eec644, #4debdb);
    cursor: pointer;
}

.restart {
    position: absolute;
    background: linear-gradient(to top, #94eb4d, #44eeb0, #4dabeb);
    height: 14%;
    width: 40%;
    display: flex;
    justify-content: center;
    font-size: 36px;
    border-radius: 8px;
    align-items: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 18%;
}

.restart:hover {
    cursor: pointer;
    background: linear-gradient(to top, #6fc48a, #eec644, #4debdb);
}

.menu>img {
    background: linear-gradient(to top, #94eb4d, #44eeb0, #4dabeb);
    height: 80px;
    padding: 12px;
}

.menu>img:hover {
    cursor: pointer;
    background: linear-gradient(to top, #6fc48a, #eec644, #4debdb);
}

.impressum {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.impressum h1,
h2,
p {
    position: unset;
    z-index: 1;
}

.backtoindex {
    width: 50px;
    position: absolute;
    right: 5%;
    top: 8%;
    cursor: pointer;
}

body {
    background-image: url("./assets/img/5_background/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.privacypolice {
    margin: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.privacypolice h1,
h2,
h3,
h4,
p,
ul,
li {
    position: unset;
    z-index: 1;
}

.polices {
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
    width: 720px;
}

.polices a {
    text-decoration: none;
    color: #eec644;
}

.polices :hover {
    color: #e06427;
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.touch-device .keys,
.touch-device .keys-controls_screen {
    display: none;
}

.touch-device .mobile {
    display: flex;
}

@media only screen and (max-width: 720px) {

    #canvas,
    #startScreen,
    #start_screen-background {
        width: 100%;
        height: auto;
    }

    #restart {
        font-size: 22px;
    }

    #full_screen-btn {
        display: none;
    }

    #startScreen {
        width: 100%;
        height: -moz-fit-content;
        height: fit-content;
    }

    .canvas {
        width: 100%;
    }

    .keys,
    .keys-controls_screen {
        display: none;
    }

    .mobile {
        display: flex;
    }

    .play {
        top: 24px;
        height: 24px;
    }

    .settings {
        height: 28px;
        width: 28px;
    }

    .settings-mobile {
        height: 28px;
        width: 28px;
    }

    .menu>img {
        height: 58px;
    }

    h1 {
        display: none;
    }

    .arrow {
        height: 40px;
    }

    .throw {
        font-size: 24px;
    }

    .keys {
        display: none;
    }
}

@media only screen and (min-width: 450px) and (max-width: 600px) {
    #winning-screen {
        width: 85%;
        font-size: 25px;
    }

    #restart {
        font-size: 18px;
    }

    .restart {
        height: 13%;
        width: 40%;
    }
}

@media only screen and (max-height: 480px) {

    #canvas,
    .canvas,
    #startScreen {
        width: 100%;
        height: 100dvh;
        overflow-y: hidden;
    }

    .settings-mobile {
        display: block;
    }

    .polices {
        position: absolute;
        bottom: 180px;
        left: 90px;
        right: 0;
    }

    #start_screen-background {
        height: 100%;
    }

    .mobile {
        display: flex;
    }

    .keys {
        display: none;
    }

    #full_screen-btn {
        display: none;
    }

    .play {
        top: 40px;
    }

    .keys-controls_screen {
        display: none;
    }

    h1 {
        font-size: 52px;
    }
}

@media screen and (max-width: 450px) {
    .rotate-device {
        display: flex;
    }
}